#raw
/*
 * =====================================================================================
 *
 *       Filename:  HistoType.h
 *
 *    Description:  Histo Type Constants
 *
 *        Version:  1.0
 *        Created:  10/03/2008 11:54:31 AM
 *       Revision:  none
 *       Compiler:  gcc
 *
 *         Author:  Valdas Rapsevicius (VR), Valdas.Rapsevicius@cern.ch
 *        Company:  CERN, CH
 *
 * =====================================================================================
 */

#ifndef CSCDQM_HistoType_H
#define CSCDQM_HistoType_H 

#include <string>

namespace cscdqm {

  typedef char* HistoType; 

#end raw

#for $k in sorted($self.datamap.keys)
  const HistoType $k = "$self.datamap[$k]";
#end for

#raw

  typedef struct EMUHistoType {
    std::string tag;
    HistoType histoId; 
    bool reference;
  };

  typedef struct DDUHistoType {
    unsigned int dduId;
    std::string tag;
    HistoType histoId; 
    bool reference;
  };

  typedef struct CSCHistoType {
    unsigned int crateId;
    unsigned int dmbId;
    unsigned int addId;
    std::string tag;
    HistoType histoId; 
    bool reference;
  };

}

#endif
#end raw
